parameters:
  level: 6
  paths:
    - dolpress.php
    - uninstall.php
    - includes
  excludePaths:
    - TempleOS-archive
    - vendor
    - node_modules
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
